<include file="Common:header" title_pre="心情随笔 | " />
<include file="Common:top" />
<div class="main" style="margin-top:20px;">
	<div class="history">
		<div class="history-date">
			<ul>
				<ul>
		      		<h2 class="first"><a href="#nogo">2012年</a></h2>
		         	<li class="green">
			         	<h3>10.08<span>2012</span></h3>
			          	<dl><dt>title<span>111</span></dt></dl>
		        	</li>
		        	<li>
			         	<h3>10.08<span>2012</span></h3>
			          	<dl><dt>title<span>111</span></dt></dl>
		        	</li>
				</ul>
			</ul>
		</div>
	</div>
</div>
<include file="Common:bottom" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/timeline/css/history.css">
<script type="text/javascript" src="__PUBLIC__/timeline/js/main.js"></script>