<header>
    <div id="logo"><a href="/"></a></div>
    <nav class="topnav" id="topnav"><a href="index.html"><span>首页</span><span class="en">Protal</span></a><a href="about.html"><span>关于我</span><span class="en">About</span></a><a href="newlist.html"><span>慢生活</span><span class="en">Life</span></a><a href="moodlist.html"><span>碎言碎语</span><span class="en">Doing</span></a><a href="share.html"><span>模板分享</span><span class="en">Share</span></a><a href="knowledge.html"><span>学无止境</span><span class="en">Learn</span></a><a href="book.html"><span>留言版</span><span class="en">Gustbook</span></a></nav>
</nav>
</header>
<div class="banner">
    <section class="box">
        <ul class="texts">
            <p>每个人的生命中都应该曾有一次，</p>
            <p>为了某个人而忘记了自己。</p>
            <p>不求有结果，只求在最美的年华里遇见她！</p>
        </ul>
        <div class="avatar"><a href="#"><span>Happy</span></a> </div>
    </section>
</div>