<form action='__URL__/{$action}.html' method="post">
    <div>
        <div class='input-prepend'>
            <span class='add-on red'>要说的话</span>
            <textarea required="required" style="width:500px;height:100px;" name="content">{$vo.content}</textarea>
        </div>
    </div>
    <div>
        <div class='input-prepend'>
            <span class='add-on red'>心情分类</span>
            <select class="span2" name="tcode" required="required">
                <volist name="tags" id="tag">
                    <option value="{$tag.tag_code}" <eq name="tag.tag_code" value="$vo.tcode">selected</eq> >{$tag.name}</option>
                </volist>
            </select>
        </div>
        <div class='input-prepend'>
            <span class='add-on'>图片信息</span>
            <input type='text' class='span3' name="pic" autocomplete="off" value='{$vo.pic}' />
        </div>
    </div>
    <div class="tc mt20">
        <input type="hidden" name="id" value="{$vo.id}" />
        <input type="submit" class="btn btn-primary" value="保存"/>
    </div>
</form>
