	<div id="footer">
		<div id="footer1">
			我们的眼睛决定了，我们不论如何转，<br/>
			永远都只能看到180度，而生活恰恰是一个360度。<br/>
			也许就在你嬉笑的说，我的生活没有秘密时，<br/>某段时光中的你，已经被深埋在时光的记忆中.<br>
			<a href="http://admin.yangbai.com" target="_blank">登录后台</a> | 
			<a href="">站点地图</a> | 
			<a href="">百度地图</a>&nbsp;| 
			<a href="">谷歌地图</a> |&nbsp;
			<a href="" target="_blank" title="站长统计">站长统计</a><br/>
			Copyright © 2013-2014 PHP个人博客,点滴记录_乐在分享
		</div>
	</div>
</body>
</html>
<style type="text/css">
	#footer { width:100%;  margin:0 auto; clear:both; text-align:center; font-size:12px; color:#777; padding-top:20px;}
	#footer #footer1 { width:100%;  margin:0 auto;  text-align:center; height:130px; line-height:22px; background:#202020; font-size:12px; color:#777; padding-top:10px;padding-bottom: 10px;}
	#footer a:link, #footer a:visited{ color:#777}
</style>