<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <script type="text/javascript">
        var CUR = "{$controller_name}";
        var TAG = "{$Think.get.tag}";
        var PUBLIC = "__PUBLIC__";
        var URL = "__URL__";
        var ACTION = "{$action}";
    </script>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
            <meta name="keywords" content="杨佰个人博客,如果要用一种东西来记录我的生命历程，我会用「朋友」！" />
            <link rel="shortcut icon" href="__PUBLIC__/Home/img/sara.ico" type="image/x-icon" />
            <title>[title_pre]杨佰个人博客,点击记录,乐在分享</title>
            <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.7.2.min.js"></script>
            <script type="text/javascript" src="__PUBLIC__/zclip/jquery.zclip.min.js"></script>
            <script type="text/javascript" src="__PUBLIC__/Home/js/common.js"></script>
            <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" />
            <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/module.css" />
            <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
            <!--Duoshuo Comment BEGIN-->
            <script type="text/javascript">var duoshuoQuery = {short_name: "yangbai"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';
                    ds.async = true;
                    ds.src = 'http://static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!--Duoshuo Comment END-->
    </head>
    <body>